@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.skill {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $textColor;
  box-shadow: 0 0 5px black;
  padding: 5px;
  background-color: $bgColor;

  .icon img {
    width: 300px;
    object-fit: cover;
  }

  .description {
    @include text($titleFontFamily, 12px, 1.8);
    font-weight: 400;
  }
}
