.mainBlock {
    height: 100vh;
    background-color: #1f1f20;
}


.text {
    width: 300px;
    background-color: transparent;
    color: white;
    text-shadow: 5px 5px 5px black;
}
.photo {
    width: 300px;
    height: 400px;
    background-color: transparent;
}
.photo img{
    height: 300px;
}