.myWorksBlock {
    min-height: 50vh;
    background-color: #615C07;
    text-shadow: 5px 5px 5px black;
    color: white;
}
.myWorksContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    background-color: #615C07;
}
.myWorks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}