.skillsBlock {
    min-height: 80vh;
    background-color: rgba(97, 92, 7, 0.84);
    text-shadow: 5px 5px 5px black;

}
.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title h2{
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 30px;
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
}

.skills {

    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 773px) {
    .skills{
        justify-content: space-between;
    }
}