.skillsBlock {
    min-height: 80vh;
    background-color: #252527;
    text-shadow: 5px 5px 5px black;

}
.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title{
    background-color: #252527;
    margin: 0 0 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
}

.title h2{
    margin: 0;
}
.title::before {
    content: "";
    position: absolute;
    background: #4e93e6;
    width: 55px;
    height: 1px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.skills {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

@media screen and (min-width: 773px) {
    .skills{
        justify-content: space-between;
    }
}