.footerBlock {
    height: 30vh;
    background-color: rgba(97, 92, 7, 0.84);
    text-shadow: 5px 5px 5px black;
    color: white;
}

.footerContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
   }

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }


.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.links a{
    display: block;
    margin: 10px;
}
.links a:active{
    color: white;
}
.links a:hover{
    color: #954747 !important;
}
.links a:visited{
    color: white;
}